@font-face {
  font-family: "uno";
  src: url('../fonts/seisc.ttf') format("truetype");
}
@font-face {
  font-family: "dos";
  src: url('../fonts/DroidSans.ttf') format("truetype");
}
@font-face {
  font-family: "tres";
  src: url('../fonts/Raleway-Regular.ttf') format("truetype");
}
body{
  background-image:  url("../img/patron.jpg");
  font-family: uno;
  text-transform: uppercase;
}
ul{margin:0;padding: 0;list-style: none;}
.menu{
  position: absolute;
  top: 0;
  z-index: 999;
}
.menu>ul{
  padding: 0;
  margin:0;
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: rgba(255,255,255,0.8);
  position: fixed;
  width: 100%;
  vertical-align: center;
}
.menu>ul>li{display: flex;padding: 0 1em;align-items: center;}
.menu>ul>li>a{
  text-decoration: none;
  color: grey;
  width: 100%;
  padding: 20% 0;
  align-self: center;
}
.menu>a{
  position: fixed;
  right: 0;
  padding: 3em 1em;
  text-decoration: none;
  color: grey;
}
.menu>a:hover,.menu>ul>li>a:hover{
  color:black;
  text-shadow: 0 0 10px rgba(252,19,208,0.5);
}
.menu>ul>li:last-child{
  float:right;
}
.logo{
  width: 13em;
}
#slider>img{
  width: 60%;
	margin-left:20%;
	margin-top:150px;
	max-height: 720px;
	display: block;
	box-shadow: 0 0 20px rgba(0,0,0,0.6);
}
.cuerpo{
  width: 60%;
  margin: 0 auto;
}
h1{text-transform: uppercase;text-align: center;font-size: 3rem;}
h2{font-size: 2rem;}
.subir{
  position: fixed;
  bottom: 2em;
  right: 2em;
  width: 2em;
  height: 2em;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  background:rgba(247,129,216,0.5);
  transition: all .5s;
}
.subir img{
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  transition: all .5s;
  width: 100%;
  height: 100%;
}
.subir:hover{
  height: 4em;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  background: rgba(247,129,216,1);
}
.portOpa{
	border-radius: 100%;
	width: 200px!important;
	height: 200px!important;
	min-height: 200px!important;
	min-width: 200px!important;
	margin: 0 auto;
}
.portOpa>img{
	padding-top: 5ex;
  width: 5em;
  height: 5em;
}
.portOpa>p{
	color:white;
  text-transform: uppercase;
  max-width: 180px;
  margin:0 auto;
  font-weight: bolder;
}
.portOpa{
  position: relative;
  background-color: rgba(0,0,0,0.7);
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
  color:white;
  opacity: 0;
  text-align: center;
  z-index: 9;
  margin-top: 1em;
}
.contPort>a{
  text-decoration: none;
}
.portOpa:hover{
  opacity: 1;
}
.contPort{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.imgPort{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  z-index: 1;
}
.imgSec{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  position: relative;
  top:-54em;
  overflow: hidden;
  padding-top: 2em;
}
.imgSec>img{
  margin-top:1em;
}
.linea{
  text-align:center;
  margin-top:2em;
}
.linea p{
  width: 60%;
  height: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(252,19,208,0.15);
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}
.linea span{
  height: 20px;
  width: 100px;
}
.imgHere>img{
  box-shadow: 0 0 20px rgba(0,0,0,0.9);
}
.imgHere>img{width: 50%;float: left;margin: 1em;}
@media (max-width:1333px){
  .imgHere>img{width: 100%; }
}

@font-face {
	  font-family: "firma";
	  src: url('../fonts/firma1.otf') format("truetype");
	}
#firma{
	font-family: "firma";
	font-size: 60px;
	font-weight: normal;
  text-align: right;
  width: 100%;
	}
  div.gmap{margin-top: 2em;text-align: center;}
  div.gmap>iframe{width: 50%;box-shadow: 0 0 20px rgba(0,0,0,0.9);height: 50%;}
  .rrss>ul{display: flex;flex-flow: row wrap;justify-content: center;padding-top: 1em;}
  .formu{display: flex;flex-flow:row wrap;}
  .formu>.info,.formContacto{margin: 0 auto;flex:1;min-width: 300px;}
  .rrss>ul>li{padding: 0.5em 0.5em;}
  .rrss>ul>li>a>img{width: 60px;height: 60px;}
  #tw:hover,#fb:hover,#in:hover{box-shadow: 0 0 20px rgba(0,0,0,0.6);border-radius: 100%;}
  div#portafolio{margin-bottom: -160px;}

input,label{
  font-family: tres;
  letter-spacing: 110%;
}
input,textarea{
  width: 100%;
  border-radius: 5px;
  border:1px solid rgb(247,129,216);
}
fieldset{border: 0;}
.formContacto>form>button,.acceso>input[type='submit']{
  border-radius: 5px;
  font-family: uno;
  font-weight: bolder;
  padding: 0.5ex;
}
.logo2{width: 35%;display: block;margin: 0 auto;}
.formContacto>form>button:hover,.acceso>input[type='submit']:hover{
  background-color: #F6CEF5;
  color:black;
}
.rrss{margin-top: 0.2em;}
h2{text-align: center;font-size: 130%;}
footer{
  margin-top:20px;
}
footer>p{
  text-align: center;
  font-size:14px;
  margin-top: 40px;
  color: #A4A4A4;
}
footer>p>a{
  text-decoration: none;
  text-transform: none;
  color:#23527c;
}
footer>p>a:hover{
  text-shadow: 0 0 10px rgba(252,19,208,0.5);
}
.cr{
	width: 10px
}
header>div.flexslider{
  width: 60%;
  margin:auto;
  margin-top: 1.5em;
  box-shadow: 0 0 10px #000;
}
.menu2{
  position: static;
  top: 0;
  z-index: 0;
}
.menu2>ul{
  padding: 0;
  margin:0;
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: rgba(255,255,255,0.8);
  width: 100%;
  vertical-align: center;
}
.menu2>ul>li{display: flex;padding: 0 1em;align-items: center;}
.menu2>ul>li>a{
  text-decoration: none;
  color: grey;
  width: 100%;
  padding: 40% 0;
  align-self: center;
}
.menu2>a{
  position: absolute;
  padding: 3em 1em;
  text-decoration: none;
  color: grey;
  top: 0;
  right: 0;
}
.menu2>a:hover,.menu2>ul>li>a:hover{
  color:black;
  text-shadow: 0 0 10px rgba(252,19,208,0.5);
}
.menu2>ul>li:last-child{
  float:right;
}
div.pad{
  width: 60%;
  margin: auto;
}
div.pad{
  text-transform: none;
  font-family: dos;
}
div.pad>h2,div.pad>p{
  text-align: left;
}
#sobremi{margin-top:-34em;}
#sobremi>h1{padding-bottom: 1em;}
.menu3{
  position: static;
  top: 0;
  z-index: 0;
}
.menu3>ul{
  padding: 0;
  margin:0;
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: rgba(255,255,255,0.8);
  width: 100%;
  vertical-align: center;
}
.menu3>ul>li{display: flex;padding: 0 1em;align-items: center;}
.menu3>ul>li>a{
  text-decoration: none;
  color: grey;
  width: 100%;
  padding: 40% 0;
  align-self: center;
}
.menu3>a:hover,.menu3>ul>li>a:hover{
  color:black;
  text-shadow: 0 0 10px rgba(252,19,208,0.5);
}
div.cuerpo2{width: 90%;margin:0 auto;}
.mostrar{display: block!important;}
.portadas{display: flex;flex-flow: row wrap;justify-content: center;}
.portadas>a{text-decoration: none;text-align: center;margin: 1em;color:#424242}
.portadas>a:hover{  color:black;text-shadow: 0 0 10px rgba(252,19,208,0.5);}
.portadas>a>img{width: 250px;height: 166px;box-shadow:  0 0 20px rgb(0,0,0);}
.acceso{width: 70%;margin:1em auto;}
.acceso>input{margin:1em 0;}
.acceso>input[type='submit']{width: 150px;height: 30px;margin: 0 auto;display: block;border-color:lightgrey;}
#bmobile{position: fixed;top: 0;right: 0;}
#mmobile{padding-top: 2em;padding-right: 2em;display: none;background-color: rgba(255,255,255,1);}
#mmobile>li>a{color: black;text-decoration: none;}
#mmobile>li{padding: 1ex 0;background-color: rgba(255,255,255,1);text-align: right;}
@media (max-width:879px){

  #sobremi{
    margin-top: -80em;
  }
  .imgSec{
    top:-83em;
  }
  .portOpa,.imgPort{
    margin:0 2em;
  }
  .contPort>a{
    margin-top: 1em;
  }
}
@media (max-width:1100px){
  .menu{display: none;}
}
@media(min-width:1100px){
  #mmobile{display: none;}
  #bmobile{display: none;}
}

@media (min-width:880px) and (max-width:1319px){
  .menu{font-size: 80%;}
  .menu>a{font-size: 80%;letter-spacing: 90%;}
  #sobremi{
    margin-top: -42em;
  }
  .imgSec{
    top:-42.5em;
  }
  .portOpa,.imgPort{
    margin:0 2em;
  }
  .contPort>a{
    margin-top: 1em;
  }
}
@media (min-width:1320px) and (max-width:1479px){
  .menu{font-size: 90%;}
  .portOpa,.imgPort{
    margin:0 2em;
  }
  .imgSec{
    top:-29em;
  }
  #sobremi{
    margin-top: -29em;
  }
  .contPort>a{
    margin-top: 1em;
  }
}
@media (min-width:1480px) and (max-width:1889px){

  .portOpa,.imgPort{
    margin:0 3em;
  }
  .imgSec{
    top:-29em;
  }
  #sobremi{
    margin-top: -27em;
  }
  .contPort>a{
    margin-top: 1em;
  }
}
@media (min-width:1890px){
  .portOpa,.imgPort{
    margin:0 4em;
    width: 250px!important;
    height: 250px!important;
  }
  .imgSec{
    top:-35.15em;
  }
  .contPort>a{
    margin-top: 1em;
  }
}

.material-placeholder{margin:0.5em;width: 300px;}
.portada{width: 60%;margin: auto;display: flex;flex-flow: row wrap;}
.portada>.material-placeholder{align-self: center}
