#dropzone{box-shadow: 0 0 10px rgba(0,0,0,1);display: block;}
button{
  border-radius: 5px;
  font-family: uno;
  font-weight: bolder;
  padding: 1ex;
  margin: 1em;
}
button:hover{
  background-color: #F6CEF5;
  color:black;
}
.botonesCen{text-align: center;padding-top: 1em;}
.newAlbum{display: flex;flex-flow: row wrap;}
.newAlbum,#albumes,#dropzone{display: none;}
#gUsers{display: flex;justify-content: space-between;flex-flow: row wrap;}
#gUsers>div{flex:1;min-width: 150px;padding: 0 1em;}
.botonesAlbum{margin:0 auto;display: block;display: flex;justify-content: center;flex-flow: row wrap;}
.newAlbum>select,.newAlbum>label,.newAlbum>input{margin:1em;}
#subPortada{display: flex;flex-flow:row wrap;}
#subPortada>input{width: auto;margin: 1em;font-family: uno;}
#subPortada>input[type="submit"]{border-color: #A4A4A4;}
#subPortada>input[type="submit"]:hover{background-color: #F6CEF5;}
#subPortada>select,#subPortada>label{margin:1em;}
select{border-radius: 10px;text-align: center;}
#albumes{margin: 1em auto;}
#imgAlb{border:none;}
#image-upload{display: none;}
